body {
  font-family: ht-neon, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #333333;
  letter-spacing: 1.5px;
  background-color: #f2f2f2;
  -webkit-touch-callout: none;
  -webkit-user-select:none;
}

h1, h2, h3, h4 {
  letter-spacing: 0;
}
h1 {
  font-size: 24px;
  text-align: center;
  line-height: 80px;
  color: #808080;
}
h2 {
  font-size: 18px;
  border-bottom: dashed 2px #f2f2f2;
  padding-bottom: 10px; 
}
h3 {
  font-size: 14px;
  margin: 10px 0 4px;
  color: #808080;
}
p {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  margin: 2px 0;
}
*:hover, *:active, *:focus {
  /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
  outline: none;
}
/*a, a:hover, a:active, a:focus {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
  cursor: pointer;
}*/

.purple {
  color: #9776b2;
}
.green {
  color: #00a99d;
}
.yellow {
  color: #dbc153;
}
.pink {
  color: #e08dbd;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.about {
  text-align: center;
  margin-bottom: 60px;
}
@media(max-width: 768px){
h1 {
  font-size: 18px;
  line-height: 40px;
}
.header {
  height: 40px;
}
.about {
  margin-bottom: 40px;
}
}

.main {
  padding: 60px;
}
.main-flex {
  display: flex;
}
.setting-wrapper, .result-wrapper {
  width: 40%;
  background-color: #fff;
  border-radius: 15px;
  padding: 40px;
}
.setting-form {
  height: 500px;
  overflow: scroll;
}
label {
  display: block;
  text-align: left;
}
label:after {
  content: "";
  clear: both;
  display: block;
}
label:hover {
opacity: 0.5;
/*transition: .2s;*/
}
label input {
  float: left;
  margin-top: 5px;
}
label, input[type='checkbox'] {
cursor: pointer;
}
label p {
  float: left;
  padding-left: 10px;
  width: calc(100% - 24px);
}
.setting-button-wrapper {
  text-align: right;
  margin-top: 10px;
}
.setting-button-wrapper p {
  font-family: ht-neon, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
.setting-button {
  color: #fff;
  background-color: #808080;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  transition: .4s;
}
.setting-button:hover {
  background-color: #ccc;
}
.quantity-form {
  display: flex;
  margin-top: 4px; 
}
.quantity-form input[type='number'] {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  line-height: 20px;
  width: 100px;
  height: 20px;
  border: 1px solid #808080;
  border-radius: 15px;
  padding-left: 10px;
  margin-left: 10px;
}
.quantity-form-label {
  line-height: 20px;
}
@media(max-width: 768px){
.main {
  padding: 40px;
}
.main-flex {
  display: block;
}
label input {
  margin-top: 3px;
}
.setting-wrapper, .result-wrapper {
  width: 100%;
  height: 500px;
  background-color: #fff;
  border-radius: 15px;
  padding: 40px;
}
.setting-form {
  height: 320px;
  overflow: scroll;
}
.setting-button-wrapper {
  margin: 10px -10px 0 0;
}
}

.choose {
  margin-top: 200px;
}
.choose-button {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 150px;
  letter-spacing: 0;
  font-size: 24px;
  color: #fff;
  background-color: #00a99d;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 40px;
  transition: .4s;
}
.choose-button:hover {
  transform: rotate(-30deg);
  background-color: #71bfb8;
}
@media(max-width: 768px){
.choose {
  margin-top: 0;
}
.choose-button {
  margin: 40px auto;
}
}

.result-output {
  padding-top: 20px;
}
@media(max-width: 768px){
.result-wrapper {
  height: 400px;
}
.result-inner {
  height: 290px;
  overflow: scroll;
}
}

.log {
  margin-top: 40px;
}